*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

ul,ol,li{
    list-style: none;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 64px;
    background-color: #ff0202fa
}

header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 64px;
    width: 64px;
    background-image: url(image\ 1\ \(6\).png);

}
.menu ul{
    font-size: 29px;
    font-family: "kanit";
    display: flex;
    
    gap: 32px;
    color: white
    
}
main{
    flex-grow: 1;
    display: flex;     
}
main .imagem{
    
    background-image: url(image\ 1\ \(4\).png)
    
}
.conteudo{
    height: 100%;
    width: 51%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white
}

.conteudo h1{
    font-size: 96px;
    font-family: "Kanit", sans-serif;
}

.conteudo p{
    width: 90%;
    font-size: 45px;
    font-family: "Kanit", sans-serif;
}

.acao button{
    height: 120px;
    width: 400px;
    background-color: black;
    font-size: 48px;
    color:white
}

.social{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.social div{
    height: 96px;
    width: 96px;
    border-radius: 50%;
    background-color: rgb(133, 133, 133); 
}

.social .pic1  {
    background-image: url(img.png);
}

.social .pic2{
    background-image: url(image\ 1\ \(5\).png);
}

.social .pic3{
    background-image: url(img.png);
}

.imagem{
    height: 100% ;
    width: 50%;
    background-color: lightgrey;
}
footer{
    font-style: italic;
    font-size: 20px;
    font-family: "kanit";
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}